.primary-color {
  background-color: #1b8bcc;
}
.text-color {
  color: #1b8bcc;
}

.bg-color {
  background-color: #f8f8f8;
}
.text-custom-color {
  color: #f8f8f898;
}

.footer-color {
  background-color: #5e5e5e;
}

.border-color {
  border-color: #1b8bcc;
}
